<div class="container">
    <div class="row no-margin">
        <div class="col-md-10 main-page-content-center no-padding">
            <section id="job1">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Technology Summer Analyst</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>May 2015 - August 2015</h3>
                    </div>
                </div>

                <h4>Goldman Sachs, Jersey City, NJ</h4>

                <div class="content-meat">
                    <p class="sub-title">- My first official internship in US</p>
                    <p class="sub-content">Summary: <span class="sub-content-meat">Somebody told me that working in a big firm was like being a
                    small component of a rocky. He means that you might be important but not that necessary for the whole launch. I totally agree on this statement
                    in the scale of a firm, but I think as a member of a team (even just a small intern), you will still be very essential. At least I felt I was. <br/>
                    <br/> At the very beginning, I tried very hard to understand the exiting business problem, which was their difficult to use realistic trading
                    order to test our surveillance application. Then, I provided and designed the solution - to build a light weight front-end web tool to simulate what a
                    actual trading order entry system can do. The tool can quickly collect the order data and send it to the RESTful service for further validation
                    and to convert to JAVA objects and send it to the surveillance application. When it returns back results, the tool can represent
                    results in an elegant way.<br/><br/>
                        After the approval of my solution, I started with a simple model to make sure the idea worked well and then built out the app with user
                    friendly UI. Then I added more powerful and intelligent functions to make order entry faster and smarter.  I went through the whole software development cycle.
                    <br/><br/>The tool greatly reduced team members' time on testing and provided the ability to do complex tests.
                   </span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">AngularJS, JavaScript, JSON, HTML5/CSS3, Node.JS, REST, Jasmine,
                        IntelliJ, Tomcat</span></p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Developed a mock order entry system to interact with a compliance surveillance
                            application.
                        </li>
                        <li>Used AngularJS, Node.js and Jasmine for front-end and RESTful web services as middle
                            layer.
                        </li>
                        <li>Reduced data entry time and enhanced workflow by implementing intelligent form auto-filling
                            and data collection.
                        </li>
                        <li>Provided the ability to perform complex and realistic tests to meet functional and
                            regression testing needs.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts:  <span class="sub-content-meat">My first impression
                        in Goldman Sachs is that this financial firm invested a lot in its technology. This internship helped me improve significantly on
                        my programming, problem solving, fast learning, communication, teamwork, design skills. I am grateful to everyone who helped me throughout the summer.</span></p>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/goldman.jpeg"
                             style="width:70%; min-width:60px; max-width: 100px">
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/goldman_ming.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="job2">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Research Assistant</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>September 2014 - December 2014</h3>
                    </div>
                </div>

                <h4>MMAE Department, Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- Magnetic Properties of Materials under High Temperatures</p>

                    <p class="sub-content">Summary: <span class="sub-content-meat">I was referred by a professor in ECE department to help out the
                    research project in MMAE Department. Within one short semester with 10 hours per week, I designed and built out a control panel to
                    magnetize and demagnetize material and collect current-voltage data for research purposes.</span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat">Circuit design, Hall effect sensor, Wiring, Soldering, Drilling</span></p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Designed and built equipments to magnetize and demagnetize material.
                        </li>
                        <li>Analyzed current-voltage data for investigation of defect detection and microstructure
                            characterization.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">I had a lot of fun with this position because of circuit design and
                        hands-on work. Even though I decided to focus more on software development, I think I will pick up hardware job someday.
                    </span></p>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/iit_logo.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/mmae-ra-1.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/mmae-ra-2.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/mmae-ra-3.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="job3">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Research Assistant</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>May 2014 - December 2014</h3>
                    </div>
                </div>

                <h4>ECE Department, Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- Faster than Real-Time (FTRT) Power System Dynamics Simulation</p>

                    <p class="sub-content">Summary: <span class="sub-content-meat">Our research was separated into two phases: summer 2014 and fall 2014.
                    We had a group of 3 in the summer. Our task was to build the whole wind turbine model in Simulink and to verify the difference
                        of Simulink result and PSSE result was small enough. But the Generic type 3 is too complicated to fully understand and
                    properly built in MATLAB. The documentation in PSSE is not detailed and even has some errors. But after reading all the articles from
                    internet and many times of failure, we eventually solved most of the miseries. <br/> <br/>In the second phase, we continued working on this model,
                    but our task was to build the whole Simulink model into C program to help extend TS3ph Simulator. We finished coding most of the components,
                    but the simulator lacked the adaptor like set up for our wind turbine model.</span></p>

                    <p class="sub-content">Technology:  <span class="sub-content-meat" style="color: #e57a00;">C, PETSc Toolkit, Linux Server,
                        Emacs, Git, MATLAB Simulink</span> </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Managed a team of five to implement wind turbine models into source code, extended model
                            library of high performance power system simulator.
                        </li>
                        <li>Identified and solved 50 missing or hidden parts in the standard model from PSSE
                            documentation; successfully established Simulink models to match the PSSE simulation by 0.5%
                            comparison offset.
                        <li>Translated differential equations from Laplace to State-Space, reaching the required 10e-13
                            V/A comparison criteria.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">There were pitfalls, disappointment, innovative ideas, many months of effort and
                    the joy of success throughout our research. I learned a lot and realized how much more a team can produce than an individual can produce.
                    Finally, a special thanks to <a href="http://engineering.iit.edu/faculty/alexander-flueck" target="_blank">Professor Alexander Flueck</a>. He gave me this valuable opportunity and helped me a lot in the rest
                    of my academic years and the start of my career.
                    </span></p>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>
                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                <a href="document/experience/FTRT-MingChen-Fall2014.pdf" target="_blank">Fall 2014 Final
                                    Report</a>

                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen1 = ! isPreviewOpen1">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>

                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen1">
                                    <img src="image/resume/experience/FTRT_report_fall_preview.PNG">
                                </div>
                            </li>
                            <li>
                                <a href="document/experience/Fall_2014_MingChen_presentation.pdf" target="_blank">Fall
                                    2014 Presentation</a>
                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen2 = ! isPreviewOpen2">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>
                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen2">
                                    <img src="image/resume/experience/FTRT_present_fall_preview.PNG">
                                </div>
                            </li>
                            <li>
                                <a href="document/experience/FTRT_Final_Report_Summer2014.pdf" target="_blank">Summer
                                    2014 Final Report</a>
                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen3 = ! isPreviewOpen3">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>
                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen3">
                                    <img src="image/resume/experience/FTRT_report_summer_preview.PNG">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/armour_eng.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/FTRT1-m.jpg"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <img src="image/resume/experience/armour_RD.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>
        </div>

        <div class="col-md-2 main-page-content-nav no-padding">
            <div class="experience-sidebar sidebar" bs-affix data-offset-top="-60">
                <ul class="nav nav-stacked">
                    <li data-target="#job1" bs-scrollspy><a href="#/resume/experience#job1">Tech Analyst</a></li>
                    <li data-target="#job2" bs-scrollspy><a href="#/resume/experience#job2">Research Assist. - MMAE</a>
                    </li>
                    <li data-target="#job3" bs-scrollspy><a href="#/resume/experience#job3">Research Assist. - ECE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

