<div class="container">
    <div class="row no-margin">
        <div class="col-md-10 main-page-content-center no-padding">
            <section id="project12">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Tap Space Bar and Win!</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>Just Started</h3>
                    </div>
                </div>

                <h4>Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- A new studio with Christopher Thai</p>
                    <p class="sub-content">Summary: <span class="sub-content-meat">Rome wasn't built in a day. If you can't rock the world at the
                    first beginning, then move step by step till you shake it.</span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">Unity 5, C#, Game development full cycle</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Building a simple game to put my foot into game development industry.</li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">First actual game I am making to utilize my game development skills. I have learned so
                    many tools to make games but never designed and build my own game. It is also a good way to experience the full game dev cycle.</span></p>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>

                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                <a href="document/projects/Tap_space_bar_and_win_GDD.pdf" target="_blank">The Game Design Document</a>
                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen_12_1 = ! isPreviewOpen_12_1">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>

                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen_12_1">
                                    <img src="image/resume/projects/TapSpace_GDD_preview.png">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/unity5-logo.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project11">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Ming's Website (Version 2.0)</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>A week in August 2015</h3>
                    </div>
                </div>

                <h4>Developed in Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-content">Summary: <span class="sub-content-meat">This is a complete and upgraded version of my previous website. 2 days to build the structure
                        and 5 days to fill out contents. </span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">AngularJS, JavaScript, HTML5/CSS3, PHP,
                        WebStorm, Apache</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>I built the website from scratch. Except for some handy tools like bootstrap, phpmailer, everything was coded by me.</li>
                        <li>Used AngularJS as the main framework to structure the web.</li>
                        <li>The website is able to communicate with the backend. Go to Contact Page and try sending me a message.</li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">Well I don't really like front-end development, but I somehow did
                    a lot of front-end stuff. Feel free to use my code to build your website, just don't make it identical (use your art sense).
                    You can get all the code from my GitHub.</span></p>
                </div>

            </section>

            <hr class="section-break">

            <section id="project1">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Microsoft Kinect Software Development</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>October 2014 - Present</h3>
                    </div>
                </div>

                <h4>IEEE Project Room, Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-content">Summary: <span class="sub-content-meat">I created this project but I am not the leader of this project.
                    Instead, I gave the leader position to some excellent ECE/CS students. Since the begining of the project, we have changed three different
                    leaders. Last Semester, we present our project in the IEEE general body meeting in front of our IEEE members. We will advance the project
                    into higher level this semester.</span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">C#, Visual Studio, Microsoft Kinect</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Developing a quick object modeling software for educational use, allowing instructors using
                            hand gesture to quickly create, rotate, and scale basic 2D/3D geometric objects.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">The joy of being in a collage is doing fun projects with a bunch of friends
                    outside of classes.</span></p>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>

                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                Spring 2015 IEEE General Body Meeting Presentation Video

                                <button type="button" class="btn btn-success"
                                        ng-click="isPreviewOpen_1_1 = ! isPreviewOpen_1_1">
                                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp Video
                                </button>

                                <a href="https://www.youtube.com/watch?v=ENSW1u28mrQ&list=PL46d_EvqNHq5_clkcDTYMr5j1IZFjjZek" target="_blank" class="go-web-link">
                                    <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span>&nbsp Youtube Playlist
                                    </button>
                                </a>

                                <iframe width="560" height="315" ng-if="isPreviewOpen_1_1" src="https://www.youtube.com/embed/ENSW1u28mrQ" frameborder="0" allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/Ieee.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <img src="image/resume/projects/kinnect1.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <img src="image/resume/projects/kinnect2.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project2">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Database Design and Applications</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>March 2015 - April 2015</h3>
                    </div>
                </div>

                <h4>Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- A combination of Yelp! and BestBuy (CS 425 Database Organization final
                        project)</p>

                    <p class="sub-content">Summary: <span class="sub-content-meat">A wonderful experience on rushing a complex project in
                    a very limited time.</span></p>

                    <p class="sub-content">Technology:
                        <span class="sub-content-meat" style="color: #e57a00;">
                            php, HTML, CSS, JavaScript, MySQL Workbench, Apache, Git, XAMPP
                        </span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Designed a database for a restaurant review forum and a laptop marketplace in at least 3NF
                            and put in E/R diagram.
                        </li>
                        <li>Built a complete web application to meet the required business logic: login/signup, comment,
                            ranking, posting, authorization, transaction.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">This might be the toughest project I have ever done.
                        The professor gave us the project description 4 weeks before the end of semester. We need to use almost 2 weeks to
                    design the database and the architecture. Then only 2 weeks left to actually build it when all the final exams were taking
                    place. Our team had 3 persons (technically 2, because the third one showed up in the third week). It was so though that
                    we almost gave up. But we spent many nights (sacrificing sleep time and preparation of other exams) on it and we only lost
                    two points in the final evaluation. It sounds tough right? But this is how to make you strong.</span></p>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>

                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                <a href="document/projects/ER.pdf" target="_blank">Database E/R Diagram</a>
                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen_2_1 = ! isPreviewOpen_2_1">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>

                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen_2_1">
                                    <img src="image/resume/projects/db_er_preview.png">
                                </div>
                            </li>

                            <li>
                                Project Code on GitHub
                                <a href="https://github.com/mchen50/database_project_cs425" target="_blank" class="go-web-link">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-github"></i>&nbsp Go GitHub
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-5 col-sm-5 col-xs-6">
                        <img src="image/resume/projects/db_login.png"
                             style="width:100%; min-width:180px; max-width: 480px">
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-6">
                        <img src="image/resume/projects/db_selectgroup.png"
                             style="width:100%; min-width:180px; max-width: 480px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project3">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Design and Synthesis of Carry Propagation Adders</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>March 2015 - April 2015</h3>
                    </div>
                </div>

                <h4>Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- A real world engineering process for VLSI (ECE 429 VLSI Design final
                        project)</p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">Verilog,EDA tools</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Constructed four different architectures of 8-bit and 32-bit adders in a high abstraction
                            level.
                        </li>
                        <li>Synthesized Verilog RTL code into standard cells and validated the correctness with test
                            bench.
                        </li>
                        <li>Determined trade-offs, e.g. performance, cost, and design time, for each different adder.
                        </li>
                    </ul>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>

                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                <a href="document/projects/ECE429_final_report.pdf" target="_blank">Final Report</a>
                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen_3_1 = ! isPreviewOpen_3_1">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>

                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen_3_1">
                                    <img src="image/resume/projects/ece429_report_preview.png">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project4">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>UNIX System Programing</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>January 2015 - April 2015</h3>
                    </div>
                </div>

                <h4>Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- Deep understanding of UNIX (CS 351 System Programming Labs)</p>

                    <p class="sub-content">Summary: <span class="sub-content-meat">Very solid programming practises on system programming learning.
                    </span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">C, Git, Emacs, Unit Testing</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Implemented simple shell, I/O system, cache for UNIX operating system.</li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">It was a good preparation for the operating system class.</span></p>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>

                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                All Code on GitHub
                                <a href="https://github.com/mchen50/cs351_Labs" target="_blank" class="go-web-link">
                                    <button type="button" class="btn btn-info">
                                        <i class="fa fa-github"></i>&nbsp Go GitHub
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project5">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Digital Image Processing</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>January 2015 - April 2015</h3>
                    </div>
                </div>

                <h4>Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- Manipulating images using MATLAB (ECE 481 Digital Image Processing
                        Projects)</p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">MATLAB Image Processing Toolbox</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Explored different digital image processing techniques: enhancement using histogram
                            equalization, restoration using Spatial and Fourier filtering, compression using Huffman
                            algorithm.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">All the projects in this class involved MATLAB programming
                    and the use of the MATLAB DIP toolbox. It was enjoyable to see how images can be manipulated by our own program instead of
                    using Photoshop.</span></p>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>

                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                <a href="document/projects/ECE481_project4_report.pdf" target="_blank">Project 4 Report</a>
                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen_5_1 = ! isPreviewOpen_5_1">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>

                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen_5_1">
                                    <img src="image/resume/projects/ece481_report_preview.png">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </section>

            <hr class="section-break">

            <section id="project6">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Buying Risky Product with Intelligent Agent</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>October 2014-December 2014</h3>
                    </div>
                </div>

                <h4>Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- Try, learn and buy (CS 480 Artificial Intelligence final project)</p>

                    <p class="sub-content">Summary: <span class="sub-content-meat">This is about the basic implementation of AI. It is not as
                    smart as what I thought it should be. But it got the work done. It bought products and studied from their patterns to make
                    its buying strategic better.</span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">Python, Machine Learning, scikit-learn</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Created an agent can learn from the past experience to improve its buying strategy.</li>
                        <li>Completed against other agents in the virtual market to obtain the maximum profit.</li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">Artificial Intelligent is very complex. But it is not like
                    what normal people think it should be. And the technology we have for AI is far away from what I want it to be. It will be
                    a very good subject for me to study in graduate school.</span></p>
                </div>

            </section>

            <hr class="section-break">

            <section id="project7">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Energy Efficiency of Varied Buildings</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>January 2014 - May 2014</h3>
                    </div>
                </div>

                <h4>Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-title">- Massively improve the energy consumption of MTCC (Interprofessional
                        Project)</p>

                    <p class="sub-content">Summary: <span class="sub-content-meat">Ok, let me tell you how professional lighting retrofit engineers
                    will do to estimate power consumption. They count lights one by one in an actual building. Why not just read plans? Because
                    the electric plans you can obtain are most likely out of date. It will be more accurate to count them by hand.</span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">CAD, Electric Plan, Photoshop, Building Power Retrofit</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Analyzed energy usage and lighting intensity of the lighting system in McCormick Tribune
                            Campus Center.
                        </li>
                        <li>Put forward a feasible proposal included cost-benefit analysis and lighting plan design.
                        </li>
                        <li>Consulted Electrical Contractors Association (ECA) and Connecxion for advices to NECA Green
                            Energy Challenge.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">Our team worked on lighting retrofit. We consulted professional
                    lighting retrofit company - Connecxion. They came to IIT and helped us about it. I also worked really close with an electric technician
                    who had 30 years of on field experience. He was one of my teammates. I still clearly remember what he told me when I complained about
                    all other team members were not doing work: "In the real life, no matter how the work gets done, it just needs to be done".</span></p>

                    <div class="download-list-container">
                        <p class="sub-content">Related Content:</p>

                        <ul style="list-style-type:circle" class="download-list">
                            <li>
                                <a href="document/projects/IPRO338_final_report.pdf" target="_blank">Final Report to the Challenge</a>
                                <button type="button" class="btn btn-primary"
                                        ng-click="isPreviewOpen_7_1 = ! isPreviewOpen_7_1">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp Preview
                                </button>

                                <div class="thumbnail" style="width:100%; min-width:300px; max-width: 600px"
                                     ng-if="isPreviewOpen_7_1">
                                    <img src="image/resume/projects/IPRO338_report_preview.png">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/IPRO-Logo.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/GreenEnergyChallengeLogo.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project8">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Robot Goliath</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>January 2014 - March 2014</h3>
                    </div>
                </div>

                <h4>IIT Tech Robotics, Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-content">Summary: <span class="sub-content-meat">Built a robot with a team and won the award.</span></p>

                    <p class="sub-content">Technology: <span class="sub-content-meat" style="color: #e57a00;">Java, Arduino, soldering, wiring, drilling, welding</span>
                    </p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Used Arduino, motor controller and mechanical system to design and build a robot collecting
                            pieces.
                        </li>
                        <li>Demolition Round Winner, JSDC competition in UIUC; given to the robot standing till the end
                            in the combat battle.
                        </li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">We worked hard. We stayed in the lab till 2 am in the morning in the
                    week before the completion. I told my teammate at the beginning of the project: "We will win something in the completion".</span></p>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/itr_logo.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/goliath.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/goliath_2.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/goliath_3.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project9">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Guitar Amplifier</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>November 2013 - May 2014</h3>
                    </div>
                </div>

                <h4>IEEE project room, Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Led a team of 10 students in designing, assembling and testing a Guitar Amplifier.</li>
                    </ul>
                    <p class="sub-content">Thoughts: <span class="sub-content-meat">Leadership is difficult to be developed. Firstly, we need
                    an opportunity to be a leader. Then, we need courage and the willing to take responsibility.</span></p>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-2 col-sm-3 col-xs-5">
                        <img src="image/resume/projects/Ieee.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/guitar_1.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/guitar_2.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/guitar_3.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>

            <hr class="section-break">

            <section id="project10">

                <div class="content-header row no-margin">
                    <div class="col-md-8 col-sm-8 no-padding">
                        <h2>Pumpkin Launcher</h2>
                    </div>

                    <div class="col-md-4 col-sm-4 no-padding">
                        <h3>September 2013 - October 2013</h3>
                    </div>
                </div>

                <h4>IIT Tech Robotics, Illinois Institute of Technology, Chicago, IL</h4>

                <div class="content-meat">
                    <p class="sub-content">Summary: <span class="sub-content-meat">First time to be part of a project in IIT.</span></p>

                    <p class="sub-content">Details:</p>
                    <ul class="details-bullet">
                        <li>Built an automatic control trebuchet with students from different majors.</li>
                        <li>Won the first place in Accuracy. We were the only team had electrical and mechanical systems on the pumpkin launcher.</li>
                    </ul>
                </div>

                <div class="row mo-margin content-img">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/itr_logo.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <img src="image/resume/projects/pumpkinLauncher_group.png"
                             style="width:100%; min-width:80px; max-width: 180px">
                    </div>
                </div>

            </section>
        </div>

        <div class="col-md-2 main-page-content-nav no-padding">
            <div class="experience-sidebar sidebar" bs-affix data-offset-top="-60">
                <ul class="nav nav-stacked">
                    <li data-target="#project12" bs-scrollspy><a href="#/resume/projects#project12">Tap Space Bar</a></li>
                    <li data-target="#project11" bs-scrollspy><a href="#/resume/projects#project11">Ming's Web</a></li>
                    <li data-target="#project1" bs-scrollspy><a href="#/resume/projects#project1">Microsoft Kinect</a></li>
                    <li data-target="#project2" bs-scrollspy><a href="#/resume/projects#project2">Database App</a></li>
                    <li data-target="#project3" bs-scrollspy><a href="#/resume/projects#project3">VLSI</a></li>
                    <li data-target="#project4" bs-scrollspy><a href="#/resume/projects#project4">System Programming</a>
                    </li>
                    <li data-target="#project5" bs-scrollspy><a href="#/resume/projects#project5">Image Processing</a>
                    </li>
                    <li data-target="#project6" bs-scrollspy><a href="#/resume/projects#project6">Buy Product AI</a>
                    </li>
                    <li data-target="#project7" bs-scrollspy><a href="#/resume/projects#project7">Energy of Building</a>
                    </li>
                    <li data-target="#project8" bs-scrollspy><a href="#/resume/projects#project8">Robot Goliath</a></li>
                    <li data-target="#project9" bs-scrollspy><a href="#/resume/projects#project9">Guitar Amp</a></li>
                    <li data-target="#project10" bs-scrollspy><a href="#/resume/projects#project10">Pumpkin Launcher</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
